@tailwind base;
@tailwind components;
@tailwind utilities;
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .pagination-previous,
  .pagination-next,
  .pagination-page {
    margin: 0 5px; /* Adjust the margin as needed */
  }
  
